@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>


<div id="closest-address-results" data-dataURL="http://closestaddressapi/api/ClosestAddressWebapi">
    <input type="text" value="" id="txtAddress" v-model="searchAddress" />
    <input type="button" value="Submit" id="btnSearch" v-on:click="searchClick" />
    <div v-for="address in results">
        <div> {{address.Name}}</div>
        <div> {{address.KM}}</div>
    </div>
</div>
@Scripts.Render("~/bundles/closestaddress")