@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<input type="text" value="" id="txtAddress" /><br /><br />
<input type="button" value="Submit" id="btnSearch" /><br /><br />

<div id="closest-address-results" data-dataURL="http://closestaddressapi/api/ClosestAddressWebapi">
    <div> {{result}}</div>

</div>
@Scripts.Render("~/bundles/closestaddress")